.property-panel {
  width: 100vw;
  height: calc(100vh - 100vw);
  position: relative;
  background: yellow;
  opacity: .6;
}

.header {
  width: 100%;
  height: 80rpx;
  border-bottom: 1rpx solid #e4e1f8;
}

.header, .header-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.msg {
  align-self: center;
  justify-self: flex-start;
}

.mr-20 {
  margin-right: 20rpx;
}